<script nonce="{{ cspNonce }}" defer="defer">
  const hideButton = document.querySelector('[value="hide"][name="hideCookies"]');
  hideButton.onclick = () => {
    console.log('CLICKED HIDE');
    setCookie('hideCookies', 'hide', 1);
  }
</script>