<script nonce="{{ cspNonce }}" defer="defer">
  const acceptButton = document.querySelector('[value="accept"][name="cookies"]');
  acceptButton.onclick = () => {
    console.log('CLICKED ACCEPT');
    setCookie('cookieChoiceMade', 'accept', 1);
  };

  const rejectButton = document.querySelector('[value="reject"][name="cookies"]');
  rejectButton.onclick = () => {
    console.log('CLICKED REJECT');
    setCookie('cookieChoiceMade', 'reject', 1);
  };
</script>