{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% if showCookiesBanner %}
    {% set html %}
    <p class="govuk-body">
      {{ t('cookies-banner:bodyTextEssentialCookies') }}
    </p>
    <p class="govuk-body">
      {{ t('cookies-banner:bodyTextAnalyticsCookies') }}
    </p>
    {% endset %}

    <form action="#" method="post">
      {{ govukCookieBanner({
      ariaLabel: t('cookies-banner:cookiesHeader'),
      messages: [
        {
          headingText: t('cookies-banner:cookiesHeader'),
          html: html,
          actions: [
            {
              text: t('cookies-banner:acceptCookies'),
              type: "submit",
              name: "cookies",
              value: "accept"
            },
            {
              text: t('cookies-banner:rejectCookies'),
              type: "submit",
              name: "cookies",
              value: "reject"
            },
            {
              text: t('cookies-banner:viewCookies'),
              href: "#"
            }
          ]
        }
      ]
    }) }}
    </form>
{% endif %}

{% if showHideCookieMessageBanner %}
  {% set html %}
    <p class="govuk-body">      
        You’ve accepted additional cookies. You can <a href="#">change your cookie settings at any time.</a>
    </p>
  {% endset %}

  <form action="#" method="post">
    {{ govukCookieBanner({
      messages: [
        {
          headingText: t('cookies-banner:cookiesHeader'),
          html: html,
          actions: [
            {
              text: t('cookies-banner:hideCookiesMessage'),
              type: "submit",
              name: "hideCookies",
              value: "hide"
            },
            {
              text: t('cookies-banner:viewCookies'),
              href: "#"
            }
          ]
        }
      ]
    }) }}
  </form>
{% endif %}
