{% extends "casa/layouts/main.njk" %}

{% block head %}
  {{ super() }}
  
  {% include "partials/gtm-head.njk" %}
  {% include "partials/styles.njk" %}
  {% include "partials/scripts.njk" %}
{% endblock %}

{% block bodyStart %}
  {% include "partials/gtm-body.njk" %}
{% endblock %}
